/* ESERCIZIO 1 */

.ex-1-square {
    transition: background-color 2s ease-in-out;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square {
    transition: width 3s ease-in;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square {
    transition: border-radius 1.5s ease-in-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    transition: opacity 2s ease-in;
}

.ex-4-square:active {
    opacity: 0;
}

/* ESERCIZIO 5 */

.ex-5-square {
    transition: scale 2s ease-in;
}

.ex-5-square:hover {
    scale: 3;
    background-color: blueviolet;
}

.ex-5-square:active {
    scale: 0.5;
    background-color: aqua;
}


/* ESERCIZIO 6 */
.ex-6-img {
    transition: filter 2s ease-in-out;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* ESERCIZIO 7 */

.ex-7-img {
    transition: all 2s ease-in-out;
}

.ex-7-img:hover {
    filter: grayscale(100%);
    scale: 2;

}

/* ESERCIZIO 8 */

.ex-8-img {
    transition: all 1s ease-in-out;
}

.ex-8-img:active {
    filter: saturate(200%);
    filter: hue-rotate(180deg);
    border-radius: 30px;

}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: all 1s ease-in-out;
}

.ex-9-img:active {
    filter: saturate(200%);
    filter: hue-rotate(180deg);
    border-radius: 30px;
    scale: 2;

}

/* ESERCIZIO 10 */

.ex-10-icon {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */

.ex-12-button .ex-12-top-white {
    animation: top-movement 2s infinite;

}

@keyframes top-movement {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 0;
    }
}

.ex-12-button .ex-12-bottom-white {
    animation: bottom-movement 2s infinite;
}

@keyframes bottom-movement {
    0% {
        right: 0;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 0;
    }
}

/* ESERCIZIO 13 */

.ex-13-button .ex-13-top-white {
    animation: top-rotation 2s infinite;

}

@keyframes top-rotation {
    0% {
        left: 10%;
        top: -10px;
    }

    30% {
        left: calc(100% - 30px);
        top: -10px;
    }

    45% {
        left: calc(100% - 30px);
        top: 100%;
    }

    75% {
        left: 0;
        top: 100%;
    }

    90% {
        left: -15px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button .ex-13-bottom-white {
    animation: bottom-rotation 3s infinite;
}

@keyframes bottom-rotation {
    0% {
        bottom: -10px;
        right: 20%;
    }

    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }

    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }

    75% {
        right: 0;
        bottom: 100%;
    }

    90% {
        right: -15px;
        bottom: -10px;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}